<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid class="grid">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-icon
          class="icon-x-large"
          color="primary"
          name="lock-closed-outline"
        ></ion-icon>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-title color="primary">Forgot Password?</ion-title>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-label color="primary">you can reset your password here</ion-label>
      </ion-col>

      <ion-col size="12">
        <form
          [formGroup]="credentialsForm"
          (ngSubmit)="onSubmit()"
          class="ion-text-center"
        >
          <ion-col size="12" class="col-padding ion-text-center">
            <ion-item color="secondary" class="ion-no-padding" lines="none">
              <ion-icon
                name="mail-outline"
                color="primary"
                class="icon-mail"
              ></ion-icon>

              <ion-input
                style="background-color: #222428; "
                type="email"
                id="email"
                formControlName="email"
                class="fadeIn first"
                placeholder="Email"
                name="email"
              >
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <ion-button
              type="submit"
              [disabled]="!credentialsForm.valid"
              color="success"
              >Reset Password</ion-button
            >
          </ion-col>
        </form>
      </ion-col>
      <ion-col size="12" *ngIf="passwordSent">
        <ion-item color="dark">
          <ion-label color="light">Email sent</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
