<app-nav [headerTitle]="'Home'"></app-nav>

<ion-content color="dark">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-card color="medium">
          <ion-row class="item-row">
            <ion-col>
              <img
              
                src="https://m.belfasttelegraph.co.uk/migration_catalog/e9e38/25623532.ece/AUTOCROP/w300/adams"
              />
            </ion-col>
          </ion-row>

          <ion-item color="medium" lines="none" class="footer-item">
            <ion-footer class="ion-text-center footer">
              <ion-label>Chicken Tenders</ion-label>
            </ion-footer>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-text-start" style="margin-left: 5%;">
        <ion-fab-button color="medium">
          <ion-icon name="close" color="danger"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col
        style="margin-left: 50%;
    text-align: -webkit-center;"
      >
        <ion-fab-button color="medium">
          <ion-icon name="heart" color="success"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
