<app-nav [headerTitle]="'Profile'"></app-nav>

<ion-content color="dark">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-card color="medium">
          <ion-row class="item-row" class="ion-text-center">
            <ion-col>
              <img
                class="profile-image"
                src="https://m.belfasttelegraph.co.uk/migration_catalog/e9e38/25623532.ece/AUTOCROP/w300/adams"
              />
            </ion-col>
          </ion-row>

          <ion-item color="medium" lines="none" class="footer-item">
            <ion-footer class="ion-text-center footer">
              <ion-label>Gerry Adams</ion-label>
            </ion-footer>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
