<app-nav [headerTitle]="'Liked Foods'"></app-nav>


<ion-content color="dark">
  <ion-grid>
    
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-icon class="icon-x-large" color="tertiary" name="sad-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="tertiary">You have no Liked Foods</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="tertiary">Better Start Swiping</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
