<ion-header>
  <ion-toolbar color="secondary" >
    <ion-item color="secondary" lines="none">
      <ion-menu-button color="light">
        <ion-icon slot="start"  name="menu"></ion-icon>
      </ion-menu-button>
      <ion-title color="light" >{{ headerTitle }}</ion-title>
      <!--Get an item at the end of the Navbar-->
      <!-- <ion-button class="ion-text-end" color="primary" *ngIf="headerTitle == 'Home'" >
        Login
      </ion-button> -->
    </ion-item>


  </ion-toolbar>
</ion-header>