<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid class="ion-text-center">
    <ion-row style="height: 100;">
      <ion-col >
        <ion-card color="light" class="card fadeInDown">
          <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-label>Sign In</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Sign Up</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <input type="text" id="login" class="fadeIn first" name="login" placeholder="email">
          <input type="text" id="password" class="fadeIn second" name="login" placeholder="password"> 
          <ion-footer id="formFooter">
            <ion-label>Forgot Password?</ion-label>
          </ion-footer>
        </ion-card>
      </ion-col>
      </ion-row>
      
  <!-- <ion-card id="formContent">
    Tabs Titles 
    <ion-title class="active"> Sign In </ion-title>
    <ion-title  class="inactive underlineHover">Sign Up </ion-title>

     Icon 
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

     Login Form 
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    Remind Passowrd 
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </ion-card> -->
</ion-grid>
</ion-content>
