<ion-content color="dark">
  <ion-grid class="grid ion-text-center">
    <ion-row style="height: 100;">
      <ion-col>
        <ion-card color="medium" class="card fadeInDown">
          <ion-card-header>
            <ion-row>
              <ion-col>
                <a class="page-switch" [routerLink]="['/login']">Sign In</a>
              </ion-col>
              <ion-col>
                <a class="page-switch active">Sign Up</a>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
            <ion-input
              style="background-color: #222428;"
              type="text"
              id="email"
              class="fadeIn first"
              placeholder="Email"
            >
            </ion-input>

            <ion-input
              style="background-color: #222428;"
              type="text"
              id="FirstName"
              class="fadeIn first"
              placeholder="First Name"
            >
            </ion-input>

            <ion-input
              style="background-color: #222428;"
              type="text"
              id="LastName"
              class="fadeIn first"
              placeholder="Last Name"
            >
            </ion-input>

            <ion-input
              style="background-color: #222428;"
              type="password"
              id="password"
              class="fadeIn second"
              placeholder="Password"
            >
            </ion-input>

            <ion-button type="submit" class="fadeIn third" color="success"
              >Register</ion-button
            >
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
